body {
    background-image: url("../images/regal.png"); /* Background pattern from Toptal Subtle Patterns */
}

.main-title{
    padding: 25px 0px 25px 0px;
}

.text-dusk {
    color: #323a5e;
}

.bg-dusk {
    background-color: #323a5e;
}

.bot-border-3 {
    border-bottom: 3px solid #dddddd;
}

.helpText {
    color: red;
}

.no-show {
    display: none;
}